In [3]:
import pandas as pd
nfl = "../Data/nfl_elo_all.csv"
pd.read_csv(nfl)

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,quality,importance,total_rating
0,26/09/1920,1920,0,NaN,RII,STP,1503.947000,1300.000000,0.824651,0.175349,...,NaN,NaN,NaN,NaN,NaN,48,0,NaN,NaN,NaN
1,03/10/1920,1920,0,NaN,CBD,PTQ,1504.688000,1300.000000,0.825267,0.174733,...,NaN,NaN,NaN,NaN,NaN,48,0,NaN,NaN,NaN
2,03/10/1920,1920,0,NaN,CHI,MUT,1368.333000,1300.000000,0.682986,0.317014,...,NaN,NaN,NaN,NaN,NaN,20,0,NaN,NaN,NaN
3,03/10/1920,1920,0,NaN,RII,MUN,1516.108000,1478.004000,0.644171,0.355829,...,NaN,NaN,NaN,NaN,NaN,45,0,NaN,NaN,NaN
4,03/10/1920,1920,0,NaN,DAY,COL,1493.002000,1504.908000,0.575819,0.424181,...,NaN,NaN,NaN,NaN,NaN,14,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17090,23/01/2022,2021,0,d,TB,LAR,1681.797158,1632.341105,0.659005,0.340995,...,379.027146,238.112249,199.786107,1629.446888,1635.265484,27,30,96.0,100.0,98.0
17091,23/01/2022,2021,0,d,KC,BUF,1699.470145,1683.332367,0.614689,0.385311,...,434.101421,308.598809,291.477231,1700.324756,1644.036577,42,36,100.0,100.0,100.0
17092,30/01/2022,2021,0,c,KC,CIN,1713.932369,1569.498961,0.769519,0.230481,...,153.972641,291.207245,186.971396,1674.943733,1585.098917,24,27,98.0,100.0,99.0
17093,30/01/2022,2021,0,c,LAR,SF,1651.615346,1621.465562,0.633608,0.366392,...,197.148060,204.657956,125.373817,1644.929010,1621.968494,20,17,96.0,100.0,98.0
17094,13/02/2022,2021,1,s,CIN,LAR,1593.079331,1661.352751,0.317089,0.682911,...,160.915302,176.868952,200.283690,1576.868287,1653.159640,20,23,95.0,100.0,98.0