In [391]:
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns

nfl = "../Data/nfl_elo_all.csv"
main_df = pd.read_csv(nfl)
main_df

,date,season,neutral,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,...,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,quality,importance,total_rating
0,26/09/1920,1920,0,NaN,RII,STP,1503.947000,1300.000000,0.824651,0.175349,...,NaN,NaN,NaN,NaN,NaN,48,0,NaN,NaN,NaN
1,03/10/1920,1920,0,NaN,CBD,PTQ,1504.688000,1300.000000,0.825267,0.174733,...,NaN,NaN,NaN,NaN,NaN,48,0,NaN,NaN,NaN
2,03/10/1920,1920,0,NaN,CHI,MUT,1368.333000,1300.000000,0.682986,0.317014,...,NaN,NaN,NaN,NaN,NaN,20,0,NaN,NaN,NaN
3,03/10/1920,1920,0,NaN,RII,MUN,1516.108000,1478.004000,0.644171,0.355829,...,NaN,NaN,NaN,NaN,NaN,45,0,NaN,NaN,NaN
4,03/10/1920,1920,0,NaN,DAY,COL,1493.002000,1504.908000,0.575819,0.424181,...,NaN,NaN,NaN,NaN,NaN,14,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17090,23/01/2022,2021,0,d,TB,LAR,1681.797158,1632.341105,0.659005,0.340995,...,379.027146,238.112249,199.786107,1629.446888,1635.265484,27,30,96.0,100.0,98.0
17091,23/01/2022,2021,0,d,KC,BUF,1699.470145,1683.332367,0.614689,0.385311,...,434.101421,308.598809,291.477231,1700.324756,1644.036577,42,36,100.0,100.0,100.0
17092,30/01/2022,2021,0,c,KC,CIN,1713.932369,1569.498961,0.769519,0.230481,...,153.972641,291.207245,186.971396,1674.943733,1585.098917,24,27,98.0,100.0,99.0
17093,30/01/2022,2021,0,c,LAR,SF,1651.615346,1621.465562,0.633608,0.366392,...,197.148060,204.657956,125.373817,1644.929010,1621.968494,20,17,96.0,100.0,98.0
17094,13/02/2022,2021,1,s,CIN,LAR,1593.079331,1661.352751,0.317089,0.682911,...,160.915302,176.868952,200.283690,1576.868287,1653.159640,20,23,95.0,100.0,98.0

In [392]:
mask = (main_df['season'] == 2020)
reg_season_mask = main_df['playoff'].isnull()
elo_2020 = main_df[mask]
elo_2020 = elo_2020[reg_season_mask]
elo_2020 = elo_2020.drop(['quality', 'importance', 'total_rating', 'neutral'], axis = 1)
elo_2020

/var/folders/0n/0g2pcv5d3w35vwn1mylldzkw0000gn/T/ipykernel_76283/2543273668.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  elo_2020 = elo_2020[reg_season_mask]

,date,season,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,...,qbelo_prob1,qbelo_prob2,qb1_game_value,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2
16541,10/09/2020,2020,NaN,KC,HOU,1664.847251,1527.930047,0.761756,0.238244,1676.666068,...,0.751961,0.248039,250.964371,163.113859,240.822204,192.365616,1663.567048,1485.102109,34,20
16542,13/09/2020,2020,NaN,JAX,IND,1438.502585,1482.654778,0.529966,0.470034,1457.867226,...,0.352055,0.647945,216.979032,266.985431,131.277712,166.760627,1420.368379,1489.892671,27,20
16543,13/09/2020,2020,NaN,DET,CHI,1404.568948,1524.564659,0.421509,0.578491,1391.331987,...,0.444199,0.555801,188.318387,238.512620,192.712563,150.509484,1423.035870,1541.209626,23,27
16544,13/09/2020,2020,NaN,WSH,PHI,1368.490825,1528.560907,0.366499,0.633501,1400.244413,...,0.305872,0.694128,80.105529,-84.549663,87.907130,142.452589,1418.873053,1513.205823,27,17
16545,13/09/2020,2020,NaN,MIN,GB,1571.140027,1582.458606,0.576645,0.423355,1543.920373,...,0.531452,0.468548,272.758643,487.232745,169.663822,207.789554,1519.869687,1580.152199,34,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16792,03/01/2021,2020,NaN,HOU,TEN,1405.446866,1590.293046,0.334058,0.665942,1396.663313,...,0.309814,0.690186,224.752531,241.915792,249.061903,216.955557,1371.350492,1571.696393,38,41
16793,03/01/2021,2020,NaN,DEN,OAK,1430.051399,1449.188398,0.565621,0.434379,1422.043277,...,0.532775,0.467225,216.114816,136.534184,115.047966,184.371418,1429.251280,1466.642505,31,32
16794,03/01/2021,2020,NaN,SF,SEA,1494.784619,1617.482789,0.417721,0.582279,1483.498926,...,0.390153,0.609847,172.799305,157.993876,109.845697,199.502627,1503.272522,1619.654067,23,26
16795,03/01/2021,2020,NaN,CHI,GB,1521.382026,1678.962501,0.369832,0.630168,1500.118465,...,0.339926,0.660074,235.974167,344.789454,164.839330,266.649955,1497.160456,1674.786093,16,35
16796,03/01/2021,2020,NaN,PHI,WSH,1409.246198,1434.907496,0.556372,0.443628,1387.198958,...,0.461457,0.538543,32.161337,3.902425,119.529623,106.294592,1393.130138,1453.013963,14,20

In [393]:
print(len(elo_2020))

256

In [394]:
elo_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 256 entries, 16541 to 16796
Data columns (total 29 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            256 non-null    object
 1   season          256 non-null    int64
 2   playoff         0 non-null      object
 3   team1           256 non-null    object
 4   team2           256 non-null    object
 5   elo1_pre        256 non-null    float64
 6   elo2_pre        256 non-null    float64
 7   elo_prob1       256 non-null    float64
 8   elo_prob2       256 non-null    float64
 9   elo1_post       256 non-null    float64
 10  elo2_post       256 non-null    float64
 11  qbelo1_pre      256 non-null    float64
 12  qbelo2_pre      256 non-null    float64
 13  qb1             256 non-null    object
 14  qb2             256 non-null    object
 15  qb1_value_pre   256 non-null    float64
 16  qb2_value_pre   256 non-null    float64
 17  qb1_adj         256 non-null    float64
 18  qb2_adj         256 non-null    float64
 19  qbelo_prob1     256 non-null    float64
 20  qbelo_prob2     256 non-null    float64
 21  qb1_game_value  256 non-null    float64
 22  qb2_game_value  256 non-null    float64
 23  qb1_value_post  256 non-null    float64
 24  qb2_value_post  256 non-null    float64
 25  qbelo1_post     256 non-null    float64
 26  qbelo2_post     256 non-null    float64
 27  score1          256 non-null    int64
 28  score2          256 non-null    int64
dtypes: float64(20), int64(3), object(6)
memory usage: 60.0+ KB

In [395]:
elo_2020['Elo-difference'] = elo_2020['elo1_pre'] - elo_2020['elo2_pre'] 
elo_2020.head(20)

,date,season,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,...,qbelo_prob2,qb1_game_value,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,Elo-difference
16541,10/09/2020,2020,NaN,KC,HOU,1664.847251,1527.930047,0.761756,0.238244,1676.666068,...,0.248039,250.964371,163.113859,240.822204,192.365616,1663.567048,1485.102109,34,20,136.917204
16542,13/09/2020,2020,NaN,JAX,IND,1438.502585,1482.654778,0.529966,0.470034,1457.867226,...,0.647945,216.979032,266.985431,131.277712,166.760627,1420.368379,1489.892671,27,20,-44.152193
16543,13/09/2020,2020,NaN,DET,CHI,1404.568948,1524.564659,0.421509,0.578491,1391.331987,...,0.555801,188.318387,238.512620,192.712563,150.509484,1423.035870,1541.209626,23,27,-119.995711
16544,13/09/2020,2020,NaN,WSH,PHI,1368.490825,1528.560907,0.366499,0.633501,1400.244413,...,0.694128,80.105529,-84.549663,87.907130,142.452589,1418.873053,1513.205823,27,17,-160.070082
16545,13/09/2020,2020,NaN,MIN,GB,1571.140027,1582.458606,0.576645,0.423355,1543.920373,...,0.468548,272.758643,487.232745,169.663822,207.789554,1519.869687,1580.152199,34,43,-11.318579
16546,13/09/2020,2020,NaN,BUF,NYJ,1511.354591,1458.063206,0.663948,0.336052,1526.648580,...,0.345242,380.751419,93.647265,175.932857,130.073585,1548.566795,1435.386069,27,17,53.291385
16547,13/09/2020,2020,NaN,ATL,SEA,1534.515566,1546.899069,0.575148,0.424852,1503.414791,...,0.510306,322.269021,440.211288,193.861253,217.891363,1474.899700,1569.329677,25,38,-12.383503
16548,13/09/2020,2020,NaN,NE,MIA,1581.531105,1413.919341,0.792329,0.207671,1590.538229,...,0.290858,270.287263,42.396262,165.258292,165.329153,1569.654190,1411.126982,21,11,167.611764
16549,13/09/2020,2020,NaN,BAL,CLE,1638.430875,1440.533332,0.819559,0.180441,1649.702251,...,0.256704,363.493929,64.243357,272.200737,124.297844,1645.369446,1483.132850,38,6,197.897543
16550,13/09/2020,2020,NaN,CAR,OAK,1417.735566,1437.326108,0.564980,0.435020,1399.166282,...,0.495818,221.339337,247.800792,161.791083,188.007295,1400.051159,1477.687771,30,34,-19.590542
16551,13/09/2020,2020,NaN,CIN,LAC,1382.627346,1470.390335,0.467288,0.532712,1369.804046,...,0.544696,133.422902,39.877075,114.953712,104.625649,1381.359535,1490.247402,13,16,-87.762989
16552,13/09/2020,2020,NaN,NO,TB,1609.805612,1498.629216,0.733832,0.266168,1622.052896,...,0.438914,144.377455,147.481024,247.226904,149.866550,1620.158438,1520.287727,34,23,111.176396
16553,13/09/2020,2020,NaN,SF,ARI,1603.785308,1442.650266,0.786127,0.213873,1575.581850,...,0.271904,136.417637,307.067348,136.334319,172.960542,1577.871150,1486.766975,20,24,161.135042
16554,13/09/2020,2020,NaN,LAR,DAL,1548.234046,1532.115363,0.614663,0.385337,1558.537925,...,0.473818,135.418113,219.341270,171.013495,219.780157,1550.556744,1541.363792,20,17,16.118683
16555,14/09/2020,2020,NaN,NYG,PIT,1391.071315,1511.703138,0.420617,0.579383,1371.396931,...,0.666079,171.839439,220.292897,155.048566,216.335217,1403.374282,1562.105811,16,26,-120.631823
16556,14/09/2020,2020,NaN,DEN,TEN,1495.656728,1599.107853,0.444889,0.555111,1486.049427,...,0.539572,195.816805,276.588301,121.381928,185.298483,1480.543874,1553.222843,14,16,-103.451125
16557,17/09/2020,2020,NaN,CLE,CIN,1429.261956,1369.804046,0.671822,0.328178,1440.392596,...,0.319108,193.609512,248.595523,131.229011,128.317893,1493.922456,1370.569929,35,30,59.457910
16558,20/09/2020,2020,NaN,PIT,DEN,1531.377521,1486.049427,0.653645,0.346355,1543.196511,...,0.300503,247.875177,-1.456242,219.489213,109.098111,1572.200874,1470.448812,26,21,45.328094
16559,20/09/2020,2020,NaN,TEN,JAX,1608.715153,1457.867226,0.776002,0.223998,1614.370794,...,0.259547,331.482451,238.462256,199.916880,141.996167,1559.868862,1413.722360,33,30,150.847927
16560,20/09/2020,2020,NaN,TB,CAR,1486.381933,1399.166282,0.706039,0.293961,1501.272864,...,0.309461,154.527043,111.714873,150.332600,156.783462,1536.049512,1384.289375,31,17,87.215651

In [396]:
elo_2020.team1.unique()

array(['KC', 'JAX', 'DET', 'WSH', 'MIN', 'BUF', 'ATL', 'NE', 'BAL', 'CAR',
       'CIN', 'NO', 'SF', 'LAR', 'NYG', 'DEN', 'CLE', 'PIT', 'TEN', 'TB',
       'CHI', 'GB', 'IND', 'PHI', 'NYJ', 'MIA', 'DAL', 'ARI', 'HOU',
       'LAC', 'SEA', 'OAK'], dtype=object)

In [397]:
elo_2020['QB_Elo-difference'] = elo_2020['qb1_value_pre'] - elo_2020['qb2_value_pre'] 
elo_2020

,date,season,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,...,qb1_game_value,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,Elo-difference,QB_Elo-difference
16541,10/09/2020,2020,NaN,KC,HOU,1664.847251,1527.930047,0.761756,0.238244,1676.666068,...,250.964371,163.113859,240.822204,192.365616,1663.567048,1485.102109,34,20,136.917204,44.079485
16542,13/09/2020,2020,NaN,JAX,IND,1438.502585,1482.654778,0.529966,0.470034,1457.867226,...,216.979032,266.985431,131.277712,166.760627,1420.368379,1489.892671,27,20,-44.152193,-33.869194
16543,13/09/2020,2020,NaN,DET,CHI,1404.568948,1524.564659,0.421509,0.578491,1391.331987,...,188.318387,238.512620,192.712563,150.509484,1423.035870,1541.209626,23,27,-119.995711,52.469446
16544,13/09/2020,2020,NaN,WSH,PHI,1368.490825,1528.560907,0.366499,0.633501,1400.244413,...,80.105529,-84.549663,87.907130,142.452589,1418.873053,1513.205823,27,17,-160.070082,-78.901087
16545,13/09/2020,2020,NaN,MIN,GB,1571.140027,1582.458606,0.576645,0.423355,1543.920373,...,272.758643,487.232745,169.663822,207.789554,1519.869687,1580.152199,34,43,-11.318579,-18.531469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16792,03/01/2021,2020,NaN,HOU,TEN,1405.446866,1590.293046,0.334058,0.665942,1396.663313,...,224.752531,241.915792,249.061903,216.955557,1371.350492,1571.696393,38,41,-184.846180,37.580747
16793,03/01/2021,2020,NaN,DEN,OAK,1430.051399,1449.188398,0.565621,0.434379,1422.043277,...,216.114816,136.534184,115.047966,184.371418,1429.251280,1466.642505,31,32,-19.136999,-85.868351
16794,03/01/2021,2020,NaN,SF,SEA,1494.784619,1617.482789,0.417721,0.582279,1483.498926,...,172.799305,157.993876,109.845697,199.502627,1503.272522,1619.654067,23,26,-122.698170,-101.263859
16795,03/01/2021,2020,NaN,CHI,GB,1521.382026,1678.962501,0.369832,0.630168,1500.118465,...,235.974167,344.789454,164.839330,266.649955,1497.160456,1674.786093,16,35,-157.580475,-101.032328
16796,03/01/2021,2020,NaN,PHI,WSH,1409.246198,1434.907496,0.556372,0.443628,1387.198958,...,32.161337,3.902425,119.529623,106.294592,1393.130138,1453.013963,14,20,-25.661298,11.565711

In [398]:
elo_2020['Winner'] = (
    np.where(
        elo_2020['score1'] > elo_2020['score2'], 
        1, 
        np.where(elo_2020['score1'] < elo_2020['score2'], 0, 0)
    )
)
elo_2020

,date,season,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,...,qb2_game_value,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,Elo-difference,QB_Elo-difference,Winner
16541,10/09/2020,2020,NaN,KC,HOU,1664.847251,1527.930047,0.761756,0.238244,1676.666068,...,163.113859,240.822204,192.365616,1663.567048,1485.102109,34,20,136.917204,44.079485,1
16542,13/09/2020,2020,NaN,JAX,IND,1438.502585,1482.654778,0.529966,0.470034,1457.867226,...,266.985431,131.277712,166.760627,1420.368379,1489.892671,27,20,-44.152193,-33.869194,1
16543,13/09/2020,2020,NaN,DET,CHI,1404.568948,1524.564659,0.421509,0.578491,1391.331987,...,238.512620,192.712563,150.509484,1423.035870,1541.209626,23,27,-119.995711,52.469446,0
16544,13/09/2020,2020,NaN,WSH,PHI,1368.490825,1528.560907,0.366499,0.633501,1400.244413,...,-84.549663,87.907130,142.452589,1418.873053,1513.205823,27,17,-160.070082,-78.901087,1
16545,13/09/2020,2020,NaN,MIN,GB,1571.140027,1582.458606,0.576645,0.423355,1543.920373,...,487.232745,169.663822,207.789554,1519.869687,1580.152199,34,43,-11.318579,-18.531469,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16792,03/01/2021,2020,NaN,HOU,TEN,1405.446866,1590.293046,0.334058,0.665942,1396.663313,...,241.915792,249.061903,216.955557,1371.350492,1571.696393,38,41,-184.846180,37.580747,0
16793,03/01/2021,2020,NaN,DEN,OAK,1430.051399,1449.188398,0.565621,0.434379,1422.043277,...,136.534184,115.047966,184.371418,1429.251280,1466.642505,31,32,-19.136999,-85.868351,0
16794,03/01/2021,2020,NaN,SF,SEA,1494.784619,1617.482789,0.417721,0.582279,1483.498926,...,157.993876,109.845697,199.502627,1503.272522,1619.654067,23,26,-122.698170,-101.263859,0
16795,03/01/2021,2020,NaN,CHI,GB,1521.382026,1678.962501,0.369832,0.630168,1500.118465,...,344.789454,164.839330,266.649955,1497.160456,1674.786093,16,35,-157.580475,-101.032328,0
16796,03/01/2021,2020,NaN,PHI,WSH,1409.246198,1434.907496,0.556372,0.443628,1387.198958,...,3.902425,119.529623,106.294592,1393.130138,1453.013963,14,20,-25.661298,11.565711,0

In [399]:
elo_2020['Game_id'] = elo_2020['team1'] + elo_2020['team2']
def sorter(ht):
    words = []
    for s in ht:
        words.append(s)
    words.sort()
    words = ''.join(words)
    return words
elo_2020['Game_id'] = elo_2020['Game_id'].apply(lambda x:sorter(x))
elo_2020['Game_id'] = elo_2020.groupby('Game_id').Game_id.apply(lambda n: n + (np.arange(len(n))+1).astype(str))
elo_2020

,date,season,playoff,team1,team2,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,...,qb1_value_post,qb2_value_post,qbelo1_post,qbelo2_post,score1,score2,Elo-difference,QB_Elo-difference,Winner,Game_id
16541,10/09/2020,2020,NaN,KC,HOU,1664.847251,1527.930047,0.761756,0.238244,1676.666068,...,240.822204,192.365616,1663.567048,1485.102109,34,20,136.917204,44.079485,1,CHKOU1
16542,13/09/2020,2020,NaN,JAX,IND,1438.502585,1482.654778,0.529966,0.470034,1457.867226,...,131.277712,166.760627,1420.368379,1489.892671,27,20,-44.152193,-33.869194,1,ADIJNX1
16543,13/09/2020,2020,NaN,DET,CHI,1404.568948,1524.564659,0.421509,0.578491,1391.331987,...,192.712563,150.509484,1423.035870,1541.209626,23,27,-119.995711,52.469446,0,CDEHIT1
16544,13/09/2020,2020,NaN,WSH,PHI,1368.490825,1528.560907,0.366499,0.633501,1400.244413,...,87.907130,142.452589,1418.873053,1513.205823,27,17,-160.070082,-78.901087,1,HHIPSW1
16545,13/09/2020,2020,NaN,MIN,GB,1571.140027,1582.458606,0.576645,0.423355,1543.920373,...,169.663822,207.789554,1519.869687,1580.152199,34,43,-11.318579,-18.531469,0,BGIMN1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16792,03/01/2021,2020,NaN,HOU,TEN,1405.446866,1590.293046,0.334058,0.665942,1396.663313,...,249.061903,216.955557,1371.350492,1571.696393,38,41,-184.846180,37.580747,0,EHNOTU2
16793,03/01/2021,2020,NaN,DEN,OAK,1430.051399,1449.188398,0.565621,0.434379,1422.043277,...,115.047966,184.371418,1429.251280,1466.642505,31,32,-19.136999,-85.868351,0,ADEKNO2
16794,03/01/2021,2020,NaN,SF,SEA,1494.784619,1617.482789,0.417721,0.582279,1483.498926,...,109.845697,199.502627,1503.272522,1619.654067,23,26,-122.698170,-101.263859,0,AEFSS2
16795,03/01/2021,2020,NaN,CHI,GB,1521.382026,1678.962501,0.369832,0.630168,1500.118465,...,164.839330,266.649955,1497.160456,1674.786093,16,35,-157.580475,-101.032328,0,BCGHI2
16796,03/01/2021,2020,NaN,PHI,WSH,1409.246198,1434.907496,0.556372,0.443628,1387.198958,...,119.529623,106.294592,1393.130138,1453.013963,14,20,-25.661298,11.565711,0,HHIPSW2

In [400]:
stats = pd.read_csv('../DF/nflstats.csv', header = 0)
stats

,Unnamed: 0,team1,team2,Temp,Wind_speed,team1_home_A,Game_id,astroturf,fieldturf,grass,matrixturf,sportturf
0,0,HOU,KC,56,7,0,CHKOU1,1,0,0,0,0
1,1,SEA,ATL,72,0,0,AAELST1,0,1,0,0,0
2,2,NYJ,BUF,67,15,0,BFJNUY1,1,0,0,0,0
3,3,OAK,CAR,81,5,0,AACKOR1,0,0,1,0,0
4,4,CIN,LAC,83,6,1,ACCILN1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
251,251,DAL,NYG,33,6,0,ADGLNY2,0,1,0,0,0
252,252,WSH,PHI,38,10,0,HHIPSW2,0,0,1,0,0
253,253,ARI,LAR,72,0,0,AAILRR2,0,0,0,1,0
254,254,SEA,SF,72,0,0,AEFSS2,0,0,1,0,0
255,255,ATL,TB,65,4,0,ABLTT2,0,0,1,0,0

In [401]:
elo_2020 = pd.merge(elo_2020, stats, on="Game_id", how="left")
elo_2020

,date,season,playoff,team1_x,team2_x,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,...,team1_y,team2_y,Temp,Wind_speed,team1_home_A,astroturf,fieldturf,grass,matrixturf,sportturf
0,10/09/2020,2020,NaN,KC,HOU,1664.847251,1527.930047,0.761756,0.238244,1676.666068,...,HOU,KC,56,7,0,1,0,0,0,0
1,13/09/2020,2020,NaN,JAX,IND,1438.502585,1482.654778,0.529966,0.470034,1457.867226,...,IND,JAX,80,3,0,0,0,1,0,0
2,13/09/2020,2020,NaN,DET,CHI,1404.568948,1524.564659,0.421509,0.578491,1391.331987,...,CHI,DET,72,0,0,0,1,0,0,0
3,13/09/2020,2020,NaN,WSH,PHI,1368.490825,1528.560907,0.366499,0.633501,1400.244413,...,WSH,PHI,76,5,1,0,0,1,0,0
4,13/09/2020,2020,NaN,MIN,GB,1571.140027,1582.458606,0.576645,0.423355,1543.920373,...,MIN,GB,72,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,03/01/2021,2020,NaN,HOU,TEN,1405.446866,1590.293046,0.334058,0.665942,1396.663313,...,TEN,HOU,72,0,0,0,0,1,0,0
252,03/01/2021,2020,NaN,DEN,OAK,1430.051399,1449.188398,0.565621,0.434379,1422.043277,...,DEN,OAK,53,10,1,0,0,1,0,0
253,03/01/2021,2020,NaN,SF,SEA,1494.784619,1617.482789,0.417721,0.582279,1483.498926,...,SEA,SF,72,0,0,0,0,1,0,0
254,03/01/2021,2020,NaN,CHI,GB,1521.382026,1678.962501,0.369832,0.630168,1500.118465,...,CHI,GB,32,7,1,0,0,1,0,0
255,03/01/2021,2020,NaN,PHI,WSH,1409.246198,1434.907496,0.556372,0.443628,1387.198958,...,WSH,PHI,38,10,0,0,0,1,0,0

In [402]:
elo_2020 = elo_2020.drop(['Unnamed: 0', 'team1_y', 'team2_y'], axis = 1)
elo_2020

,date,season,playoff,team1_x,team2_x,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,...,Winner,Game_id,Temp,Wind_speed,team1_home_A,astroturf,fieldturf,grass,matrixturf,sportturf
0,10/09/2020,2020,NaN,KC,HOU,1664.847251,1527.930047,0.761756,0.238244,1676.666068,...,1,CHKOU1,56,7,0,1,0,0,0,0
1,13/09/2020,2020,NaN,JAX,IND,1438.502585,1482.654778,0.529966,0.470034,1457.867226,...,1,ADIJNX1,80,3,0,0,0,1,0,0
2,13/09/2020,2020,NaN,DET,CHI,1404.568948,1524.564659,0.421509,0.578491,1391.331987,...,0,CDEHIT1,72,0,0,0,1,0,0,0
3,13/09/2020,2020,NaN,WSH,PHI,1368.490825,1528.560907,0.366499,0.633501,1400.244413,...,1,HHIPSW1,76,5,1,0,0,1,0,0
4,13/09/2020,2020,NaN,MIN,GB,1571.140027,1582.458606,0.576645,0.423355,1543.920373,...,0,BGIMN1,72,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,03/01/2021,2020,NaN,HOU,TEN,1405.446866,1590.293046,0.334058,0.665942,1396.663313,...,0,EHNOTU2,72,0,0,0,0,1,0,0
252,03/01/2021,2020,NaN,DEN,OAK,1430.051399,1449.188398,0.565621,0.434379,1422.043277,...,0,ADEKNO2,53,10,1,0,0,1,0,0
253,03/01/2021,2020,NaN,SF,SEA,1494.784619,1617.482789,0.417721,0.582279,1483.498926,...,0,AEFSS2,72,0,0,0,0,1,0,0
254,03/01/2021,2020,NaN,CHI,GB,1521.382026,1678.962501,0.369832,0.630168,1500.118465,...,0,BCGHI2,32,7,1,0,0,1,0,0
255,03/01/2021,2020,NaN,PHI,WSH,1409.246198,1434.907496,0.556372,0.443628,1387.198958,...,0,HHIPSW2,38,10,0,0,0,1,0,0

In [403]:
elo_2021 = pd.read_csv('../DF/elo_2021.csv') 
elo_2021 = elo_2021.drop('Unnamed: 0', axis = 1)
elo_2021

,date,season,playoff,team1_x,team2_x,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,...,QB_Elo-difference,Game_id,Temp,Wind_speed,team1_home_A,astroturf,fieldturf,grass,matrixturf,sportturf
0,2021-09-09,2021,NaN,TB,DAL,1656.235930,1452.424236,0.824539,0.175461,1659.671437,...,-18.081249,ABDLT1,82,9,0,0,0,1,0,0
1,2021-09-12,2021,NaN,IND,SEA,1561.490084,1565.751134,0.586531,0.413469,1530.547371,...,-84.561430,ADEINS1,72,0,0,0,1,0,0,0
2,2021-09-12,2021,NaN,TEN,ARI,1553.397217,1486.436956,0.681272,0.318728,1506.171519,...,-9.436454,AEINRT1,82,8,0,0,0,1,0,0
3,2021-09-12,2021,NaN,DET,SF,1390.645249,1490.665951,0.449771,0.550229,1371.189983,...,32.890525,DEFST1,72,0,0,0,1,0,0,0
4,2021-09-12,2021,NaN,ATL,PHI,1484.493617,1426.465972,0.670004,0.329996,1437.713081,...,59.066894,AHILPT1,72,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,2022-01-09,2021,NaN,LAR,SF,1636.561252,1554.970394,0.699274,0.300726,1615.789160,...,40.941109,AFLRS2,72,0,1,0,0,0,1,0
268,2022-01-09,2021,NaN,MIA,NE,1534.901453,1593.915459,0.508614,0.491386,1557.469225,...,-8.364348,AEIMN2,75,8,1,0,0,1,0,0
269,2022-01-09,2021,NaN,TB,CAR,1664.443435,1370.835498,0.887386,0.112614,1670.677134,...,186.154625,ABCRT2,80,4,1,0,0,1,0,0
270,2022-01-09,2021,NaN,ATL,NO,1422.117870,1543.612249,0.419407,0.580593,1402.507563,...,32.761948,ALNOT2,72,0,1,0,1,0,0,0
271,2022-01-09,2021,NaN,OAK,LAC,1489.079330,1517.599175,0.552307,0.447693,1501.289545,...,-81.310450,AACKLO2,72,0,0,0,0,1,0,0

In [404]:
elo_2021 = elo_2021.iloc[0:256]
elo_2021

,date,season,playoff,team1_x,team2_x,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,...,QB_Elo-difference,Game_id,Temp,Wind_speed,team1_home_A,astroturf,fieldturf,grass,matrixturf,sportturf
0,2021-09-09,2021,NaN,TB,DAL,1656.235930,1452.424236,0.824539,0.175461,1659.671437,...,-18.081249,ABDLT1,82,9,0,0,0,1,0,0
1,2021-09-12,2021,NaN,IND,SEA,1561.490084,1565.751134,0.586531,0.413469,1530.547371,...,-84.561430,ADEINS1,72,0,0,0,1,0,0,0
2,2021-09-12,2021,NaN,TEN,ARI,1553.397217,1486.436956,0.681272,0.318728,1506.171519,...,-9.436454,AEINRT1,82,8,0,0,0,1,0,0
3,2021-09-12,2021,NaN,DET,SF,1390.645249,1490.665951,0.449771,0.550229,1371.189983,...,32.890525,DEFST1,72,0,0,0,1,0,0,0
4,2021-09-12,2021,NaN,ATL,PHI,1484.493617,1426.465972,0.670004,0.329996,1437.713081,...,59.066894,AHILPT1,72,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,2022-01-02,2021,NaN,NO,CAR,1534.838390,1379.609357,0.780356,0.219644,1543.612249,...,7.001430,ACNOR2,72,0,0,0,0,0,0,1
252,2022-01-02,2021,NaN,DAL,ARI,1600.956533,1525.803448,0.691424,0.308576,1580.481822,...,-18.351009,AADILR1,72,0,0,0,0,0,1,0
253,2022-01-02,2021,NaN,SEA,DET,1496.641457,1326.769033,0.794462,0.205538,1508.287397,...,137.477619,ADEEST1,37,0,0,0,1,0,0,0
254,2022-01-02,2021,NaN,GB,MIN,1679.743906,1514.681059,0.789904,0.210096,1692.419962,...,202.331346,BGIMN2,11,9,1,0,0,1,0,0
255,2022-01-03,2021,NaN,PIT,CLE,1484.761118,1504.067601,0.565382,0.434618,1506.602945,...,53.092771,CEILPT2,25,12,0,0,0,1,0,0

In [405]:
print(len(elo_2020))
print(len(elo_2021))

256
256

In [406]:
feature_names = ['Elo-difference', 'QB_Elo-difference', 'Temp', 'Wind_speed', 'astroturf', 'fieldturf', 'grass', 'matrixturf', 'sportturf', 'team1_home_A']
X_train = elo_2020[feature_names]
y_train = elo_2020.Winner
X_test = elo_2021[feature_names]
y_test = elo_2021.Winner

In [407]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = np.round(lr.predict(X_test))
testing = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

In [408]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,np.round(y_pred))

0.62109375

In [409]:
print(lr.coef_)

[ 0.00094266  0.00078446  0.00031599  0.01040973  0.10354192 -0.01864425
 -0.05423333  0.12300875 -0.15367309 -0.04191899]

In [410]:
list(zip(feature_names, lr.coef_))

[('Elo-difference', 0.0009426569517158688),
 ('QB_Elo-difference', 0.0007844552604794554),
 ('Temp', 0.000315988284090155),
 ('Wind_speed', 0.01040973169825686),
 ('astroturf', 0.10354191983998327),
 ('fieldturf', -0.01864425025478958),
 ('grass', -0.05423332632764539),
 ('matrixturf', 0.12300874971010085),
 ('sportturf', -0.15367309296764897),
 ('team1_home_A', -0.04191898595864497)]

In [411]:
from sklearn.linear_model import Ridge


alphalist = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8,0.9,1]
for a in alphalist:
    ridgereg = Ridge(alpha=a, normalize=True)

    ridgereg.fit(X_train, y_train)

    y_pred = ridgereg.predict(X_test)
    print('Alpah: ' + str(a))
    print('Accuracy score: ' + str(round(accuracy_score(y_test,np.round(y_pred))*100,2)) + str('%\n'))

Alpah: 0
Accuracy score: 62.11%

Alpah: 0.1
Accuracy score: 62.11%

Alpah: 0.2
Accuracy score: 62.5%

Alpah: 0.3
Accuracy score: 62.11%

Alpah: 0.4
Accuracy score: 62.5%

Alpah: 0.5
Accuracy score: 62.89%

Alpah: 0.6
Accuracy score: 63.67%

Alpah: 0.7
Accuracy score: 63.67%

Alpah: 0.8
Accuracy score: 64.45%

Alpah: 0.9
Accuracy score: 64.45%

Alpah: 1
Accuracy score: 65.23%

In [412]:
from sklearn import linear_model
alphalist = [0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8,0.9,1]
clf = linear_model.Lasso(alpha=0.1)
for a in alphalist:
    clf = linear_model.Lasso(alpha=0.1)

    clf.fit(X_train, y_train)

    y_pred = clf.predict(X_test)
    print('Alpah: ' + str(a))
    print('Accuracy score: ' + str(round(accuracy_score(y_test,np.round(y_pred))*100,2)) + str('%\n'))

Alpah: 0
Accuracy score: 65.23%

Alpah: 0.1
Accuracy score: 65.23%

Alpah: 0.2
Accuracy score: 65.23%

Alpah: 0.3
Accuracy score: 65.23%

Alpah: 0.4
Accuracy score: 65.23%

Alpah: 0.5
Accuracy score: 65.23%

Alpah: 0.6
Accuracy score: 65.23%

Alpah: 0.7
Accuracy score: 65.23%

Alpah: 0.8
Accuracy score: 65.23%

Alpah: 0.9
Accuracy score: 65.23%

Alpah: 1
Accuracy score: 65.23%

In [413]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

model = XGBClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

[01:49:57] WARNING: /Users/runner/miniforge3/conda-bld/xgboost-split_1645117948562/work/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/Users/oliverclemence/opt/anaconda3/lib/python3.9/site-packages/xgboost/sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
/Users/oliverclemence/opt/anaconda3/lib/python3.9/site-packages/xgboost/data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

Accuracy: 61.72%

In [414]:
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier
lr_list = [0.05, 0.075, 0.1, 0.25, 0.5, 0.75, 1]

for learning_rate in lr_list:
    gb_clf = GradientBoostingClassifier(n_estimators=50, learning_rate=learning_rate, max_features=2, max_depth=2, random_state=0)
    gb_clf.fit(X_train, y_train)
    y_pred = gb_clf.predict(X_test)
    predictions = [round(value) for value in y_pred]

    accuracy = accuracy_score(y_test, predictions)
    print('Learning rate: ' + str(learning_rate))
    print("Accuracy: %.2f%% \n" % (accuracy * 100.0))

Learning rate: 0.05
Accuracy: 66.80%

Learning rate: 0.075
Accuracy: 67.58%

Learning rate: 0.1
Accuracy: 67.97%

Learning rate: 0.25
Accuracy: 66.41%

Learning rate: 0.5
Accuracy: 63.28%

Learning rate: 0.75
Accuracy: 63.28%

Learning rate: 1
Accuracy: 62.89%

In [415]:
gb_clf = GradientBoostingClassifier(n_estimators=20, learning_rate=0.1, max_features=2, max_depth=2, random_state=0)
gb_clf.fit(X_train, y_train)
y_pred = np.round(gb_clf.predict(X_test))
elo_2021['Predicted'] = y_pred
elo_2021['Actual'] = y_test

elo_2021['Team_p'] = (
    np.where(
    elo_2021['Predicted'] == 1, elo_2021['team1_x'],
        np.where(elo_2021['Predicted'] == 0, elo_2021['team2_x'], 'NA')
        )
)

elo_2021['Team_a'] = (
    np.where(
    elo_2021['Actual'] == 1, elo_2021['team1_x'],
        np.where(elo_2021['Actual'] == 0, elo_2021['team2_x'], 'NA')
        )
)


elo_2021.head(20)

/var/folders/0n/0g2pcv5d3w35vwn1mylldzkw0000gn/T/ipykernel_76283/3099450139.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elo_2021['Predicted'] = y_pred
/var/folders/0n/0g2pcv5d3w35vwn1mylldzkw0000gn/T/ipykernel_76283/3099450139.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elo_2021['Actual'] = y_test
/var/folders/0n/0g2pcv5d3w35vwn1mylldzkw0000gn/T/ipykernel_76283/3099450139.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elo_2021['Team_p'] = (
/var/folders/0n/0g2pcv5d3w35vwn1mylldzkw0000gn/T/ipykernel_76283/3099450139.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  elo_2021['Team_a'] = (

,date,season,playoff,team1_x,team2_x,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,...,team1_home_A,astroturf,fieldturf,grass,matrixturf,sportturf,Predicted,Actual,Team_p,Team_a
0,2021-09-09,2021,NaN,TB,DAL,1656.235930,1452.424236,0.824539,0.175461,1659.671437,...,0,0,0,1,0,0,1,1,TB,TB
1,2021-09-12,2021,NaN,IND,SEA,1561.490084,1565.751134,0.586531,0.413469,1530.547371,...,0,0,1,0,0,0,0,0,SEA,SEA
2,2021-09-12,2021,NaN,TEN,ARI,1553.397217,1486.436956,0.681272,0.318728,1506.171519,...,0,0,0,1,0,0,1,0,TEN,ARI
3,2021-09-12,2021,NaN,DET,SF,1390.645249,1490.665951,0.449771,0.550229,1371.189983,...,0,0,1,0,0,0,0,0,SF,SF
4,2021-09-12,2021,NaN,ATL,PHI,1484.493617,1426.465972,0.670004,0.329996,1437.713081,...,0,0,1,0,0,0,1,0,ATL,PHI
5,2021-09-12,2021,NaN,CIN,MIN,1412.119826,1494.522721,0.474976,0.525024,1426.792646,...,0,0,1,0,0,0,0,1,MIN,CIN
6,2021-09-12,2021,NaN,BUF,PIT,1634.003861,1526.420324,0.729773,0.270227,1601.069885,...,0,1,0,0,0,0,1,0,BUF,PIT
7,2021-09-12,2021,NaN,CAR,NYJ,1436.539318,1381.747500,0.665873,0.334127,1447.894527,...,1,0,0,1,0,0,0,1,NYJ,CAR
8,2021-09-12,2021,NaN,WSH,LAC,1463.233796,1496.945335,0.544906,0.455094,1445.440885,...,0,0,0,1,0,0,0,0,LAC,LAC
9,2021-09-12,2021,NaN,HOU,JAX,1432.775542,1339.023563,0.713787,0.286213,1447.902046,...,0,1,0,0,0,0,1,1,HOU,HOU
10,2021-09-12,2021,NaN,NYG,DEN,1425.401086,1449.695518,0.558313,0.441687,1394.592227,...,1,0,1,0,0,0,0,0,DEN,DEN
11,2021-09-12,2021,NaN,KC,CLE,1643.357787,1531.697262,0.734376,0.265624,1651.272350,...,0,0,0,1,0,0,1,1,KC,KC
12,2021-09-12,2021,NaN,NO,GB,1614.959365,1629.337431,0.479320,0.520680,1652.522181,...,0,0,0,1,0,0,0,1,GB,NO
13,2021-09-12,2021,NaN,NE,MIA,1500.997462,1532.213010,0.548467,0.451533,1493.275512,...,0,0,1,0,0,0,0,0,MIA,MIA
14,2021-09-12,2021,NaN,LAR,CHI,1571.734273,1496.167180,0.691932,0.308068,1589.366076,...,0,0,0,0,1,0,1,1,LAR,LAR
15,2021-09-13,2021,NaN,OAK,BAL,1473.131014,1605.839758,0.403774,0.596226,1497.071864,...,0,0,0,1,0,0,0,1,BAL,OAK
16,2021-09-16,2021,NaN,WSH,NYG,1445.440885,1394.592227,0.660804,0.339196,1449.907915,...,0,0,0,1,0,0,0,1,NYG,WSH
17,2021-09-19,2021,NaN,IND,LAR,1530.547371,1589.366076,0.508895,0.491105,1516.398060,...,0,0,1,0,0,0,0,0,LAR,LAR
18,2021-09-19,2021,NaN,NYJ,NE,1370.392291,1493.275512,0.417462,0.582538,1346.021439,...,1,0,1,0,0,0,0,0,NE,NE
19,2021-09-19,2021,NaN,JAX,DEN,1323.897060,1480.504377,0.371139,0.628861,1306.809536,...,1,0,0,1,0,0,0,0,DEN,DEN

In [426]:
x = elo_2021['Team_p'].value_counts()
for p in x:
    print(str(p) +': ' +str(16 - p))

15: 1
15: 1
15: 1
14: 2
13: 3
13: 3
12: 4
12: 4
11: 5
11: 5
10: 6
9: 7
9: 7
8: 8
8: 8
8: 8
7: 9
7: 9
7: 9
7: 9
7: 9
6: 10
6: 10
5: 11
4: 12
4: 12
4: 12
2: 14
2: 14
2: 14
2: 14
1: 15

In [417]:
elo_2021['Team_a'].value_counts()

GB     13
TB     12
LAR    12
DAL    11
KC     11
TEN    11
ARI    11
NE     10
BUF    10
CIN    10
OAK     9
SF      9
LAC     9
IND     9
PHI     9
BAL     8
NO      8
MIA     8
PIT     8
DEN     7
ATL     7
MIN     7
CLE     7
WSH     6
CHI     6
SEA     6
CAR     5
HOU     4
NYG     4
NYJ     4
DET     3
JAX     2
Name: Team_a, dtype: int64

In [418]:
mask = (elo_2021['team1_x'] == 'NE') 
mask2 = (elo_2021['team2_x'] == 'NE')
elo_2021[mask].append(elo_2021[mask2])

/var/folders/0n/0g2pcv5d3w35vwn1mylldzkw0000gn/T/ipykernel_76283/2742800023.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  elo_2021[mask].append(elo_2021[mask2])

,date,season,playoff,team1_x,team2_x,elo1_pre,elo2_pre,elo_prob1,elo_prob2,elo1_post,...,team1_home_A,astroturf,fieldturf,grass,matrixturf,sportturf,Predicted,Actual,Team_p,Team_a
13,2021-09-12,2021,NaN,NE,MIA,1500.997462,1532.213010,0.548467,0.451533,1493.275512,...,0,0,1,0,0,0,0,0,MIA,MIA
37,2021-09-26,2021,NaN,NE,NO,1517.646364,1608.329660,0.463106,0.536894,1492.262653,...,0,0,1,0,0,0,0,0,NO,NO
62,2021-10-03,2021,NaN,NE,TB,1492.262653,1644.720973,0.376730,0.623270,1484.301531,...,0,0,1,0,0,0,0,0,TB,TB
90,2021-10-17,2021,NaN,NE,DAL,1497.108416,1527.926062,0.549034,0.450966,1475.403755,...,0,0,1,0,0,0,0,0,DAL,DAL
100,2021-10-24,2021,NaN,NE,NYJ,1475.403755,1337.303835,0.762989,0.237011,1491.623732,...,0,0,1,0,0,0,1,1,NE,NE
140,2021-11-14,2021,NaN,NE,CLE,1540.929095,1553.069461,0.575490,0.424510,1571.303684,...,0,0,1,0,0,0,1,1,NE,NE
173,2021-11-28,2021,NaN,NE,TEN,1595.691724,1597.440573,0.590033,0.409967,1621.021409,...,0,0,1,0,0,0,0,1,TEN,NE
232,2021-12-26,2021,NaN,NE,BUF,1620.275570,1622.417745,0.589485,0.410515,1589.146141,...,0,0,1,0,0,0,0,0,BUF,BUF
245,2022-01-02,2021,NaN,NE,JAX,1589.146141,1222.225724,0.923178,0.076822,1593.915459,...,0,0,1,0,0,0,1,1,NE,NE
18,2021-09-19,2021,NaN,NYJ,NE,1370.392291,1493.275512,0.417462,0.582538,1346.021439,...,1,0,1,0,0,0,0,0,NE,NE
69,2021-10-10,2021,NaN,HOU,NE,1396.174441,1484.301531,0.466767,0.533233,1383.367555,...,0,1,0,0,0,0,0,0,NE,NE
117,2021-10-31,2021,NaN,LAC,NE,1545.926556,1491.623732,0.665246,0.334754,1526.424441,...,0,0,0,0,1,0,1,0,LAC,NE
127,2021-11-07,2021,NaN,CAR,NE,1449.776796,1511.125848,0.505254,0.494746,1419.973548,...,0,0,0,1,0,0,0,0,NE,NE
150,2021-11-18,2021,NaN,ATL,NE,1426.964291,1571.303684,0.387766,0.612234,1402.576252,...,0,0,1,0,0,0,0,0,NE,NE
193,2021-12-06,2021,NaN,BUF,NE,1647.661527,1621.021409,0.628905,0.371095,1626.537956,...,0,1,0,0,0,0,1,0,BUF,NE
209,2021-12-18,2021,NaN,IND,NE,1603.908558,1642.144980,0.538440,0.461560,1625.777967,...,0,0,1,0,0,0,0,1,NE,IND

In [419]:
from sklearn.model_selection import cross_val_score, cross_val_predict
from sklearn import metrics

for folds in range(5,11):
    print('\n')
    print('K: {}'.format(folds))
    model = LinearRegression()
    
    scores = cross_val_score(model, X_train, y_train, cv=folds)
    print("Cross-validated scores: {}".format(scores))
    print("Mean CV R2: {}".format(np.mean(scores)))
    print('Std CV R2: {}'.format(np.std(scores)))
    
    predictions = cross_val_predict(model, X_train, y_train, cv=folds)
    
    r2 = metrics.r2_score(y_train, predictions)
    
    
    print("Cross-Predicted R2: {}".format(r2))

K: 5
Cross-validated scores: [0.17499249 0.19001079 0.0089949  0.10412271 0.08011613]
Mean CV R2: 0.1116474025817586
Std CV R2: 0.06594209299768014
Cross-Predicted R2: 0.12642504566012047


K: 6
Cross-validated scores: [0.17658557 0.13561508 0.09088712 0.08313934 0.17612305 0.05082347]
Mean CV R2: 0.11886227201491177
Std CV R2: 0.04757353732871332
Cross-Predicted R2: 0.12849680369084016


K: 7
Cross-validated scores: [0.21192948 0.04107449 0.04269069 0.2392048  0.093729   0.09302879
 0.1029498 ]
Mean CV R2: 0.1178010070033889
Std CV R2: 0.072250805128257
Cross-Predicted R2: 0.1278646026963225


K: 8
Cross-validated scores: [ 0.18492497  0.13746377  0.08502156  0.08354095 -0.05671281 -0.0287556
  0.07639463  0.16406189]
Mean CV R2: 0.08074242024164556
Std CV R2: 0.08057779866949397
Cross-Predicted R2: 0.11155966609069845


K: 9
Cross-validated scores: [ 0.26101156  0.06721189  0.15562311 -0.04472405  0.27565132  0.06009065
  0.04281107  0.08108249  0.11638898]
Mean CV R2: 0.11279411456888745
Std CV R2: 0.09770064667508742
Cross-Predicted R2: 0.12996882981378233


K: 10
Cross-validated scores: [ 0.26254898  0.04171179  0.15255378  0.16508852  0.09735488 -0.15427851
  0.15848689 -0.01455083 -0.124159    0.27563259]
Mean CV R2: 0.08603890909835459
Std CV R2: 0.1404173123345581
Cross-Predicted R2: 0.11994850991841355